/vendor/
/var/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/TestApplication/.env.local
/tests/TestApplication/.env.test.local
/tests/TestApplication/.env.*.local

/.phpunit.result.cache
/behat.yml
/phpunit.xml
/docker-compose.override.yml
/compose.override.yaml

.phpunit.result.cache
