<a class="btn btn-sm btn-icon btn-outline-danger" href="{{ path('webgriffe_back_in_stock_notification_delete_subscription', {'hash': data}) }}" {{ sylius_test_html_attribute('button-delete') }}>
    {{ ux_icon('tabler:trash', {'class': 'icon icon-xs'})}}
    {{ 'webgriffe_bisn.my_account_section.remove'|trans }}
</a>
