services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
  Webgriffe\SyliusBackInStockNotificationPlugin\Command\AlertCommand:
    tags: ['console.command']
    arguments:
      - '@logger'
      - '@sylius.email_sender'
      - '@sylius.availability_checker'
      - '@webgriffe.repository.back_in_stock_notification_subscription'

  Webgriffe\SyliusBackInStockNotificationPlugin\Controller\SubscriptionController:
    tags: ['controller.service_arguments']
    arguments:
      - '@sylius.context.channel'
      - '@translator'
      - '@validator'
      - '@sylius.context.customer'
      - '@sylius.availability_checker.default'
      - '@sylius.repository.product_variant'
      - '@sylius.email_sender'
      - '@sylius.context.locale'
      - '@webgriffe.repository.back_in_stock_notification_subscription'
      - '@webgriffe.factory.back_in_stock_notification_subscription'

  Webgriffe\SyliusBackInStockNotificationPlugin\Menu\AccountMenuListener:
    tags:
      - { name: kernel.event_listener, event: sylius.menu.shop.account, method: addMenuItems }

  Webgriffe\SyliusBackInStockNotificationPlugin\Menu\AdminMenuListener:
    tags:
      - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addAdminMenuItems }