services:
  Webgriffe\SyliusBackInStockNotificationPlugin\Command\AlertCommand:
    tags: ['console.command']
    arguments:
      - '@monolog.logger'
      - '@sylius.email_sender'
      - '@sylius.availability_checker.default'
      - '@webgriffe.repository.back_in_stock_notification_subscription'

  Webgriffe\SyliusBackInStockNotificationPlugin\Controller\SubscriptionController:
    tags: ['controller.service_arguments']
    calls:
      - [ setContainer, [ '@service_container' ] ]
    arguments:
      - '@sylius.context.channel.cached'
      - '@translator.data_collector'
      - '@debug.validator'
      - '@sylius.context.customer'
      - '@sylius.availability_checker.default'
      - '@sylius.repository.product_variant'
      - '@sylius.email_sender'
      - '@sylius.context.locale'
      - '@webgriffe.repository.back_in_stock_notification_subscription'
      - '@webgriffe.factory.back_in_stock_notification_subscription'

  Webgriffe\SyliusBackInStockNotificationPlugin\Menu\AccountMenuListener:
    tags:
      - { name: kernel.event_listener, event: sylius.menu.shop.account, method: addMenuItems }

  Webgriffe\SyliusBackInStockNotificationPlugin\Menu\AdminMenuListener:
    tags:
      - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addAdminMenuItems }