services:
    Webgriffe\SyliusBackInStockNotificationPlugin\Command\AlertCommand:
        tags: [ 'console.command' ]
        arguments:
            - '@monolog.logger'
            - '@sylius.email_sender'
            - '@sylius.checker.inventory.availability'
            - '@webgriffe.repository.back_in_stock_notification_subscription'
            - '@router'
    
    Webgriffe\SyliusBackInStockNotificationPlugin\Controller\SubscriptionController:
        tags: [ 'controller.service_arguments' ]
        calls:
            - [ setContainer, [ '@service_container' ] ]
        arguments:
            - '@translator'
            - '@webgriffe.repository.back_in_stock_notification_subscription'
    
    Webgriffe\SyliusBackInStockNotificationPlugin\Menu\AccountMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.shop.account, method: addMenuItems }
    
    Webgriffe\SyliusBackInStockNotificationPlugin\Menu\AdminMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addAdminMenuItems }
    
    
    Webgriffe\SyliusBackInStockNotificationPlugin\Validator\SubscriptionUniqueValidator:
        arguments:
            - '@webgriffe.repository.back_in_stock_notification_subscription'
            - '@sylius.repository.product_variant'
            - '@sylius.context.customer'
        tags:
            - { name: validator.constraint_validator }

    Webgriffe\SyliusBackInStockNotificationPlugin\Processor\SubscriptionProcessor:
        arguments:
            - '@webgriffe.factory.back_in_stock_notification_subscription'
            - '@webgriffe.repository.back_in_stock_notification_subscription'
            - '@sylius.context.channel.cached'
            - '@sylius.context.locale'
            - '@sylius.email_sender'

    webgriffe.processor.subscription: '@Webgriffe\SyliusBackInStockNotificationPlugin\Processor\SubscriptionProcessor'

    Webgriffe\SyliusBackInStockNotificationPlugin\Twig\Component\AddNotificationComponent:
        arguments:
            - '@form.factory'
            - '@sylius.resolver.product_variant'
            - '@sylius.context.customer'
            - '@Webgriffe\SyliusBackInStockNotificationPlugin\Processor\SubscriptionProcessor'
            - '@sylius.repository.product'
            - '@sylius.repository.product_variant'
        tags:
            - { name: 'sylius.live_component.shop', key: 'webgriffe:sylius_shop:product:add_notification' }
