{# @var \Sylius\Component\Core\Model\ProductInterface product #}
{# @var \Sylius\Component\Core\Model\ProductVariantInterface variant #}

{% set variant = product|sylius_resolve_variant %}

{% if product.isConfigurable %}
    <div id="notification-overlay" class="ui modal" data-back-in-stock-notification-form-container="true">
        {{ render(url('webgriffe_back_in_stock_notification_add_subscription')) }}
    </div>
{% elseif not is_product_variant_available(variant) %}
    {% set url = url('webgriffe_back_in_stock_notification_add_subscription', {'product_variant_code': variant.code}) %}
    <div data-back-in-stock-notification-form-container="true">
        {{ render(url) }}
    </div>
{% endif %}
