{% if product.isConfigurable %}
    <div id="notification-overlay" class="ui modal">
        {{ render(url('webgriffe_back_in_stock_notification_add_subscription')) }}
    </div>
{% elseif product.isSimple and not product.variants.first.isInStock and product.variants.first.isTracked %}
    {{ render(url('webgriffe_back_in_stock_notification_add_subscription', {'product_variant_code': product.variants.first.code})) }}
{% endif %}
